[submodule "Dependencies/ZipZap"]
	path = Dependencies/ZipZap
	url = https://github.com/pixelglow/ZipZap.git
[submodule "Dependencies/PKHUD"]
	path = Dependencies/PKHUD
	url = https://github.com/pkluz/PKHUD.git
